@charset "utf-8";
/* CSS Document */
body, div, a, img, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, input, span {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: url("../image/bg2.jpg") no-repeat top center fixed;
}



.main {
    min-width: 998px;
    max-width: 1080px;
    margin: 0 auto;
}

.anchor {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.imgC {
    width: 100%;
}

.imgC img{
    opacity: 0.9;
    width: 100%;
}






















